<div id="top_pane">

  <div id="logo_container">
    <div id="logo"></div>
  </div>

  <%= content_tag :div, id: "search_bar" do %>
    <%= form_tag url: "/static_pages/home", method: "get" do %>
      <%= label_tag "Search for:" %>
      <%= text_field_tag :id %>
      <%= content_tag :div, id: "buttons" do %>
        <%= submit_tag "Submit" %>
      <% end %>
    <% end %>
  <% end %>

</div>

<div id="bottom_pane">

  <% if !@pictures.empty? %>
    <% @pictures.each_with_index do |pic, i| %>
      <%= link_to(content_tag(:div, '', class: "img", style: "background-image:url('#{pic}');"), @links[i]) %>
    <% end %>
  <% end %>

</div>